* {
    padding: 0;
    outline: none;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: url(image/bgimg.jpg) no-repeat;
    background-size: 100%;
}
.slides img {
    height: 350px;
    display: block;
    margin: auto;
    width: 350px;
    border-radius: 50%;
}
.mySlides {
    display: none;
}
.mySlides img {
    vertical-align: middle;
    margin-top: 3%;
}

/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  padding-top: 10px;
}

/* The dots/bullets/indicators */

.slides .dot {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: rgb(48, 130, 124);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    
}

.slides .active {
    background-color: #200b98;
}

.slides{
    padding-top: 30px;
}



.grid-container {
        
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: white;
    padding: 50px;
    height: 100%;
  }
  .main{
    display: grid;
    display: flex;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    border: none;
}
.main>div{
    margin-left: 100px;
}



    body{
        display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      font-family: 'Open Sans', sans-serif;
      font-size: 120%;
    }
    
    .file2{
        /* background: #2c4ab5d0; */
        background: rgba(34, 127, 197, 0.4);
        color: white;
        padding: 2em;
        border-radius: 30px;
        width: 100%;
        max-width: 420px;
        margin: 3em;

    }
    .temp{
        color:aliceblue ;
    }
    
    header{
        display: flex;
        align-content: center;
        justify-content: center;
        margin-top: -10px;
    }
    
    .search-bar{
        margin-right: 10px;
        border-radius: 10px;
        border: none;
        width: 80%;
    }
    
    input.search-bar{
        border: none;
        outline: none;
        padding: 0.4em 1em;
        border-radius: 24px;
        background: #25f3d065;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 105%;
        width: calc(100% - 100px);
        transition: 0.2s ease-in-out;
        
    }
    
    button{
        margin: 0.5em;
        border-radius: 50%;
        border: none;
        height: 44px;
        width: 44px;
        outline: none;
        background: #7c7c7c2b;
        color: white;
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }
    
    button:hover{
        background: #38b2228e;
    
    }
    
    input.search-bar:hover{
        background: #29a9546b;
    }
    
    
    h1.temp {
        margin: 0;
        margin-bottom: 0.4em;  
    }
    
    .weather.loading{
        visibility: hidden;
      max-height: 20px;
      position: relative;
    }
    .weather.loading::after{
        visibility: visible;
      content: "Loading...";
      color: white;
      position: absolute;
      top: 0;
      left: 20px;
    }